<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="start ">
            <a href="#/">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li>
            <a ui-sref=".project" href="javascript:;">
                <i class="icon-rocket"></i>
                <span class="title">项目构建</span>
            </a>
        </li>
        <li>
            <a ui-sref=".image" href="javascript:;">
                <i class="icon-rocket"></i>
                <span class="title">镜像仓库</span>
            </a>
        </li>
        <li>
            <a ui-sref=".app" href="javascript:;">
                <i class="icon-rocket"></i>
                <span class="title">应用列表</span>
            </a>
        </li>
    </ul>
</div>
