<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Nginx服务器管理
        </div>
    </div>

    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <label>Filter:
                    <input type="search" class="form-control input-large input-inline" placeholder="服务器名称/域名/解析IP" ng-model='searchKey'>
                </label>
                <a href="javascript:void(0);" ng-click="Search(searchKey)" class="btn btn-sm btn-primary">搜索</a>
                <a href="javascript:void(0);" ng-click="Search('')" class="btn btn-sm btn-primary">重置</a>
            </div>
        </div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>服务器ID</th>
                <th>服务器名称</th>
                <th>域名</th>
                <th>目录</th>
                <th>解析IP(外网)</th>
                <th>后端IP(内网)</th>
                <th>端口</th>
                <th>创建时间</th>
                <th>最后更新时间</th>
                <th>备注</th>
                <th>操作</th>
            </tr>

            <tr ng-repeat="o in rows">
                <td>{{ o.NginxId }}</td>
                <td>{{ o.NameServer }}</td>
                <td>{{ o.DomainName }}</td>
                <td>{{ o.Document }}</td>
                <td>{{ o.DomainIp }}</td>
                <td>{{ o.ProxyIp }}</td>
                <td>{{ o.ProxyPort }}</td>
                <td>{{ o.CreateTime }}</td>
                <td>{{ o.UpdateTime }}</td>
                <td>{{ o.Desc }}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="detail($index)">查看</button>
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" ng-click="edit($index)">编辑</a></li>
                            <li><a href="javascript:;" ng-click="Delete($index)">删除</a></li>
                        </ul>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
        <paging
                class="small"
                page="currentPage"
                page-size="pageSize"
                total="total"
                adjacent="{{adjacent}}"
                dots="{{dots}}"
                scroll-top="{{scrollTop}}"
                hide-if-empty="{{hideIfEmpty}}"
                ul-class="{{ulClass}}"
                active-class="{{activeClass}}"
                disabled-class="{{disabledClass}}"
                show-prev-next="{{showPrevNext}}"
                paging-action="pageAction( page )">
        </paging>
    </div>
</div>

<script type="text/ng-template" id="edit.html">
    <div class="modal-header">
        <div class="caption">
            <h4>{{ title.title }}</h4>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器名称</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{item.NameServer}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">解析域名</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="解析域名"
                                       ng-model="item.DomainName">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">解析IP</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="解析IP"
                                       ng-model="item.DomainIp">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">解析目录</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="操作系统"
                                       ng-model="item.Document">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">端口</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="端口"
                                       ng-model="item.ProxyPort">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">后端IP</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="后端IP"
                                       ng-model="item.ProxyIp">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">描述备注</label>

                            <div class="col-md-9">
                                <textarea class="form-control input-inline input-medium" placeholder="描述备注"
                                       ng-model="item.Desc"></textarea>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" ng-model="item.MysqlId" />
                </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="Save()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancle</button>
    </div>
</script>

<script type="text/ng-template" id="detail.html">
    <div class="modal-header">
        <div class="caption">
            <h4>{{ title.title }}</h4>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器名称</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{item.NameServer}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">解析域名</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.DomainName }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">解析目录</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.Document }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">解析IP</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.DomainIp }}</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">后端IP(内网)</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.ProxyIp }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">端口</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.ProxyPort }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">创建时间</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.CreateTime }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">创建人</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.CreateId }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">最后更改</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.UpdateTime }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">修改人</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.UpdateId }}</p>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="delete.html">
    <div class="modal-header">
        <div class="caption">
            <h4>{{ title.title }}</h4>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                           确定要删除{{ item.NameServer }}服务器？
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="Delete()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancle</button>
    </div>
</script>


<script type="text/ng-template" id="statics.html">
    <div class="modal-header">
        <div class="caption">
            <h4>{{ title }}</h4>
        </div>
    </div>
    <div class="modal-body">
        <highchart id="chart1" config="item"></highchart>
    </div>
</script>